.setting-wrap {
    .pay-wrap {
        .ivu-tabs {
            .ivu-tabs-nav-scroll {
                background-color: #fff;
                padding: 0 20px;
            }
        }
        .ivu-tabs-card {
            .ivu-tabs-bar {
                margin-bottom: 32px;
                .ivu-tabs-nav-scroll {

                    background-color: inherit;
                    padding: 0;
                    .ivu-tabs-tab {
                        margin-right: 10px;
                    }
                }
            }
            .ivu-tabs-content {
                a {
                    display: inline-block;
                    line-height: 18px;
                    text-decoration: underline;
                }
            }
        }
        .ivu-card {
            .order-search-module {
                height: 40px;
                .order-money-content {
                    float: right;
                    padding-bottom: 10px;
                    .select-content {
                        > ul {
                            > li {
                                float: left;
                                margin-right: 10px;
                                .ivu-date-picker {
                                    display: inline-block;
                                }
                                &.store-body-header-right {
                                    .ivu-input-group-append .ivu-btn,
                                    .ivu-input-group-prepend .ivu-btn {
                                        background-color: #39f;
                                        color: #ffffff;
                                        border-top-left-radius: 0;
                                        border-bottom-left-radius: 0;
                                    }
                                    .ivu-input-group {
                                        top: 0;
                                        .ivu-input {
                                            width: 150px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .submit-pay-btn {
                margin-bottom: 200px;
            }
            .ivu-table-wrapper {
                border: 0 none;
                padding-bottom: 30px;
                .ivu-table:after,
                .ivu-table:before {
                    background-color: inherit;
                }
            }
            .ivu-table {
                overflow: inherit;
                .ivu-table-header {
                    overflow: inherit;
                }
                td.ivu-table-expanded-cell {
                    padding-left: 80px;
                }
                .expand-row {
                    .ivu-col {
                        display: inline-block;
                        margin-right: 100px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .tip {
            color: rgba(101, 113, 128, 0.5);
            line-height: 18px;
        }
    }
}