.setting-wrap {
    .pay-wrap {
        .ivu-tabs {
            .ivu-tabs-nav-scroll {
                background-color: #fff;
                padding: 0 20px;
            }
        }
        .ivu-tabs-card {
            .ivu-tabs-bar {
                margin-bottom: 32px;
                .ivu-tabs-nav-scroll {
                    background-color: inherit;
                    padding: 0;
                }
            }
        }
        .ivu-card {
            min-height: 894px;
        }
        .tip {
            color: rgba(101, 113, 128, 0.5);
            line-height: 18px;
        }
        a {
            display: inline-block;
            line-height: 18px;
            text-decoration: underline;
        }
    }
}